#
# * Fine Tuning
# http://www.jvdev.lv/mysqlmaxmem/
tmp_table_size = 1M
max_heap_table_size = 1M
key_buffer_size = 1M
innodb_buffer_pool_size = 1M

max_connections = 5
read_buffer_size = 1M
read_rnd_buffer_size = 1M
sort_buffer_size = 1G


# mysql-kafka-connect
log-bin                        = /export/apps/var/lib/mysql/mysql-bin
binlog_rows_query_log_events  = on
binlog_format = row
binlog_row_image = full
expire_logs_days = 1
gtid_mode = on
enforce_gtid_consistency = on
